Repository INTYSOFT/gestionAcademico: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Prevent duplicate detail imports by validating range overlap
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Add delete action for evaluation details
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Validar fecha y ciclo en evaluaciones programadas
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.spec.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: validate evaluacion programada duplicates
  src/app/core/services/centro-estudios/evaluacion-programadas.service.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: mostrar sede y ciclo en evaluaciones programadas
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: ajustar panel de programaciones
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix evaluaciones list height calculation
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

migracion angular20
  package-lock.json
  package.json
Due: prettier --write

Fix Material select panel background in Angular 20
  src/@fuse/styles/overrides/angular-material.scss
Due: prettier --write

Fix backdrop styling syntax error
  src/@fuse/styles/overrides/angular-material.scss
Due: prettier --write

Fix transparent datepicker background after Angular 20 update
  src/@fuse/styles/overrides/angular-material.scss
Due: prettier --write

fix: restore material theme styles after angular 20 upgrade
  src/@fuse/styles/themes.scss
Due: prettier --write

Fix Angular Material theme application on Angular 20
  src/@fuse/styles/themes.scss
Due: prettier --write

Fix Material theme palettes for Angular 20
  src/@fuse/styles/themes.scss
Due: prettier --write

fix: stabilize evaluacion tracking and tree nodes
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Improve evaluation list layout
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.scss
Due: eslint --fix --max-warnings=0, prettier --write

EVALUACION
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
Due: eslint --fix --max-warnings=0, prettier --write

feat(evaluacion): manage competencias preguntas
  src/app/app.routes.ts
  src/app/core/models/centro-estudios/evaluacion-tipo-pregunta.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/evaluacion-tipo-preguntas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add tipo pregunta selection to evaluacion detalles
  src/app/core/models/centro-estudios/evaluacion-detalle.model.ts
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: show evaluation details per section
  src/app/core/models/centro-estudios/evaluacion-detalle.model.ts
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix evaluacion detalle tabs to include seccion ciclo
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: normalize evaluacion detail numbers
  src/app/core/services/centro-estudios/evaluacion-detalles.service.spec.ts
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.spec.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

tempo
  src/app/core/models/centro-estudios/evaluacion-detalle.model.ts
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Revert "feat(evaluacion): manage competencias preguntas"
  src/app/app.routes.ts
  src/app/core/models/centro-estudios/evaluacion-tipo-pregunta.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/evaluacion-tipo-preguntas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

CORRECTO
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(evaluacion): add competencias preguntas management
  src/app/app.routes.ts
  src/app/core/models/centro-estudios/evaluacion-tipo-pregunta.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/evaluacion-tipo-preguntas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/actions-cell/competencias-preguntas-actions-cell.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas-form-dialog/competencias-preguntas-form-dialog.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.html
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.scss
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.component.ts
  src/app/modules/admin/evaluacion/competencias-preguntas/competencias-preguntas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(evaluacion): add tipo pregunta selection to detalle management
  src/app/core/models/centro-estudios/evaluacion-detalle.model.ts
  src/app/core/services/centro-estudios/evaluacion-detalles.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-detalle-form-dialog/evaluacion-detalle-form-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Add evaluation key management dialog
  src/app/core/models/centro-estudios/evaluacion-clave.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/evaluacion-claves.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: migrate evaluacion claves dialog to ag-grid
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-clave-actions-cell.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: ensure evaluacion claves grid renders rows
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-clave-actions-cell.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
  src/styles/vendors.scss
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Reload evaluation details after saving claves
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Improve clave dialog validation
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

valces
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-clave-actions-cell.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: manage evaluation detail answer keys
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: render claves grid rows
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-clave-dialog/evaluacion-clave-dialog.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

LLENADO DE CLAVES DE RESPUESTAS
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: enable keyboard selection for respuestas
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-clave-respuesta-cell-editor.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve respuesta cell editor typing and import usage
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-clave-respuesta-cell-editor.component.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: duplicate detail import copies question keys
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: src/**/*.{ts,html}
  jest --bail --findRelatedTests --passWithNoTests: any of: src/**/*.ts
  prettier --write: any of: *.{ts,js,json,md,css,scss,html}
