Repository INTYSOFT/gestionAcademico: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,html}": [
    "eslint --fix --max-warnings=0"
  ],
  "src/**/*.ts": [
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{ts,js,json,md,css,scss,html}": [
    "prettier --write"
  ]
}

feat: improve respuesta editing UX
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: enable arrow key navigation for respuestas
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: register respuesta editor and guard arrow navigation
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix keyboard navigation handling in evaluation keys dialog
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(evaluacion): resaltar programaciones en calendario
  src/app/core/services/centro-estudios/evaluacion-programadas.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: guard calendar resolution typings
  src/app/core/services/centro-estudios/evaluacion-programadas.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

puntuacion
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix datepicker selection to work on single click
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix(evaluacion): improve calendar selection and sorting
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.scss
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

puntuacion
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(evaluacion): registrar alumnos desde puntuacion
  src/app/core/models/centro-estudios/evaluacion.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/evaluaciones.service.ts
  src/app/core/services/centro-estudios/matriculas.service.ts
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.html
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-puntuacion.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add matriculas report by sede and ciclo
  src/app/app.routes.ts
  src/app/core/services/centro-estudios/matriculas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.scss
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.ts
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

reportes
  src/app/modules/admin/evaluacion/puntuacion/evaluacion-claves-dialog/evaluacion-claves-dialog.component.ts
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: enhance ciclo filtering for matriculados report
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.scss
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(reportes): agregar filtro y buscador de ciclos vigentes
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.scss
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

style: realign alumnos matriculados filters
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.scss
Due: eslint --fix --max-warnings=0, prettier --write

Alinear acciones del reporte con filtros
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.scss
Due: eslint --fix --max-warnings=0, prettier --write

correcto
  src/app/modules/admin/reportes/alumnos-matriculados/alumnos-matriculados.component.html
Due: eslint --fix --max-warnings=0, prettier --write

feat(evaluacion): reemplazar árbol por ag-grid en programaciones
  src/app/modules/admin/evaluacion/programar/actions-cell/evaluacion-programar-actions-cell.component.html
  src/app/modules/admin/evaluacion/programar/actions-cell/evaluacion-programar-actions-cell.component.scss
  src/app/modules/admin/evaluacion/programar/actions-cell/evaluacion-programar-actions-cell.component.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.ts
  src/app/modules/admin/evaluacion/programar/secciones-cell/evaluacion-programar-secciones-cell.component.html
  src/app/modules/admin/evaluacion/programar/secciones-cell/evaluacion-programar-secciones-cell.component.scss
  src/app/modules/admin/evaluacion/programar/secciones-cell/evaluacion-programar-secciones-cell.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Enhance programaciones grid layout
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.ts
  src/app/modules/admin/evaluacion/programar/secciones-cell/evaluacion-programar-secciones-cell.component.html
  src/app/modules/admin/evaluacion/programar/secciones-cell/evaluacion-programar-secciones-cell.component.scss
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

correccion programacion
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.html
Due: eslint --fix --max-warnings=0, prettier --write

refactor: enhance seccion assignment workflow
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

finales
  src/app/modules/admin/evaluacion/programar/evaluacion-programar.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Revert "refactor: redesign secciones selector in evaluacion dialog"
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: modern dual list for secciones in evaluacion dialog
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.spec.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

finales
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
Due: eslint --fix --max-warnings=0, prettier --write

feat: modernize evaluacion programada seccion selector
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.spec.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: correct async alias syntax in seccion lists
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.spec.ts
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Refine evaluacion dialog template control flow
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
Due: eslint --fix --max-warnings=0, prettier --write

Fix seccion card layout in evaluacion dialog
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
Due: prettier --write

fix: ensure seccion titles render horizontally
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
Due: prettier --write

feat: alinear visualmente la sección seleccionada
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
Due: eslint --fix --max-warnings=0, prettier --write

inicio de reporte de estado de valuaccion
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.html
  src/app/modules/admin/evaluacion/programar/evaluacion-programada-dialog/evaluacion-programada-dialog.component.scss
Due: eslint --fix --max-warnings=0, prettier --write

feat(reportes): add evaluaciones programadas report
  src/app/app.routes.ts
  src/app/core/models/centro-estudios/estado-evaluacion-programada.model.ts
  src/app/core/models/centro-estudios/evaluacion-programada-consulta.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/estado-evaluacion-programada.service.ts
  src/app/core/services/centro-estudios/evaluacion-programada-consultas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Revert "feat: add scheduled evaluations report"
  src/app/app.routes.ts
  src/app/core/models/centro-estudios/estado-evaluacion-programada.model.ts
  src/app/core/models/centro-estudios/evaluacion-programada-consulta.model.ts
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/core/services/centro-estudios/estado-evaluacion-programada.service.ts
  src/app/core/services/centro-estudios/evaluacion-programada-consultas.service.ts
  src/app/mock-api/common/navigation/data.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(reportes): mejorar filtros de evaluaciones programadas
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

iniciar reporte evgaluaciones
  src/app/app.routes.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(reportes): add evaluaciones programadas report
  src/app/app.routes.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.routes.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix(api): correct endpoint for evaluacionProgramadaConsultas refactor(reportes): restructure evaluaciones programadas component layout
  src/app/core/services/centro-estudios/centro-estudios-api.constants.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: enhance evaluaciones programadas report
  src/app/modules/admin/reportes/evaluaciones-programadas/agregar-alumno-dialog/agregar-alumno-evaluacion-dialog.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/agregar-alumno-dialog/agregar-alumno-evaluacion-dialog.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/agregar-alumno-dialog/agregar-alumno-evaluacion-dialog.component.ts
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.html
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.scss
  src/app/modules/admin/reportes/evaluaciones-programadas/evaluaciones-programadas.component.ts
Due: eslint --fix --max-warnings=0, jest --bail --findRelatedTests --passWithNoTests, prettier --write
